botweb.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tma-vendeur",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-001",
      "name": "Webhook TMA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2400, 400],
      "webhookId": "tma-vendeur"
    },
    {
      "parameters": {
        "jsCode": "// ── ROUTER ACTION TMA v2 ─────────────────────────────────────\n// Reçoit le JSON de la Mini App et construit la requête SQL\nconst raw  = $input.first().json;\nconst body = raw.body || raw;\n\nconst action = body.action || '';\nconst chatId = String(body.chatId || '');\n\nfunction esc(v) {\n  if (v === null || v === undefined || String(v).trim() === '' || v === 'null') return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction escNum(v) {\n  const n = parseFloat(v);\n  return isNaN(n) ? 0 : n;\n}\n\n// Champs communs\nconst nom    = body.nom    || '';\nconst oldNom = body.oldNom || '';\nconst newNom = body.newNom || '';\nconst desc   = body.desc   !== undefined ? body.desc   : null;\nconst cat    = body.cat    || '';\nconst prix   = escNum(body.prix);\nconst taille = body.taille !== undefined ? body.taille : null;\n\nlet sql  = '';\nlet mode = action;\nlet meta = {};\n\nswitch (action) {\n\n  case 'get_profile':\n    sql = `SELECT nom_boutique, description, telephone, adresse, statut\n           FROM vendeurs WHERE telegram_chat_id = ${esc(chatId)} LIMIT 1`;\n    break;\n\n  case 'login':\n    sql = `SELECT COUNT(*) AS cnt FROM vendeurs\n           WHERE telegram_chat_id = ${esc(chatId)}\n           AND password = ${esc(body.password || '')}`;\n    break;\n\n  case 'logout':\n    sql = `INSERT INTO vendor_sessions (chat_id, step, data, authenticated)\n           VALUES (${esc(chatId)}, NULL, '{}', 0)\n           ON DUPLICATE KEY UPDATE step=NULL, data='{}', authenticated=0`;\n    break;\n\n  case 'register': {\n    const nb  = body.nom_boutique || '';\n    const pwd = body.password || '';\n    sql = `INSERT IGNORE INTO vendeurs\n             (telegram_chat_id, nom_boutique, description, telephone, adresse, password, statut)\n           VALUES\n             (${esc(chatId)}, ${esc(nb)}, ${esc(body.description)},\n              ${esc(body.telephone)}, ${esc(body.adresse)}, ${esc(pwd)}, 'en_attente')`;\n    meta.nom_boutique = nb;\n    break;\n  }\n\n  case 'list_categories':\n    sql = `SELECT c.nom FROM categories_vendeur c\n           JOIN vendeurs v ON v.id = c.vendeur_id\n           WHERE v.telegram_chat_id = ${esc(chatId)}\n           ORDER BY c.nom`;\n    break;\n\n  case 'add_category':\n    // INSERT ... SELECT avec vérification : on enregistre aussi le chatId pour debug\n    sql = `INSERT INTO categories_vendeur (vendeur_id, nom)\n           SELECT id, ${esc(nom)} FROM vendeurs\n           WHERE telegram_chat_id = ${esc(chatId)} LIMIT 1`;\n    meta.debug = `chatId=${chatId} nom=${nom}`;\n    break;\n\n  case 'update_category':\n    sql = `UPDATE categories_vendeur\n           SET nom = ${esc(newNom)}\n           WHERE nom = ${esc(oldNom)}\n             AND vendeur_id = (SELECT id FROM vendeurs WHERE telegram_chat_id = ${esc(chatId)} LIMIT 1)`;\n    break;\n\n  case 'delete_category':\n    sql = `DELETE FROM categories_vendeur\n           WHERE nom = ${esc(nom)}\n             AND vendeur_id = (SELECT id FROM vendeurs WHERE telegram_chat_id = ${esc(chatId)} LIMIT 1)`;\n    break;\n\n  case 'list_products':\n    sql = `SELECT p.nom, p.prix, p.description, p.taille\n           FROM produits_vendeur p\n           JOIN vendeurs v ON v.id = p.vendeur_id\n           WHERE v.telegram_chat_id = ${esc(chatId)}\n           ORDER BY p.nom`;\n    break;\n\n  case 'add_product':\n    // Deux étapes : d'abord récupérer vendeur_id + categorie_id, puis INSERT\n    // On fait un INSERT ... SELECT avec sous-requêtes séparées\n    sql = `INSERT INTO produits_vendeur (vendeur_id, categorie_id, nom, description, prix, taille)\n           SELECT\n             v.id,\n             (SELECT id FROM categories_vendeur WHERE vendeur_id = v.id AND nom = ${esc(cat)} LIMIT 1),\n             ${esc(nom)},\n             ${esc(desc)},\n             ${prix},\n             ${esc(taille)}\n           FROM vendeurs v\n           WHERE v.telegram_chat_id = ${esc(chatId)}\n           LIMIT 1`;\n    meta.debug = `chatId=${chatId} cat=${cat} nom=${nom} prix=${prix}`;\n    break;\n\n  case 'update_product':\n    sql = `UPDATE produits_vendeur\n           SET\n             nom         = ${esc(nom)},\n             description = ${esc(desc)},\n             prix        = ${prix},\n             taille      = ${esc(taille)}\n           WHERE nom = ${esc(oldNom)}\n             AND vendeur_id = (SELECT id FROM vendeurs WHERE telegram_chat_id = ${esc(chatId)} LIMIT 1)`;\n    break;\n\n  case 'delete_product':\n    sql = `DELETE FROM produits_vendeur\n           WHERE nom = ${esc(nom)}\n             AND vendeur_id = (SELECT id FROM vendeurs WHERE telegram_chat_id = ${esc(chatId)} LIMIT 1)`;\n    break;\n\n  default:\n    return [{ json: { error: 'Action inconnue', action } }];\n}\n\nreturn [{ json: { action: mode, chatId, sql, meta } }];"
      },
      "id": "rtr-001",
      "name": "Router Action TMA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2200, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "sql-001",
      "name": "SQL Execute",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [-2000, 400],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "MUkAJndyHJjTja6C",
          "name": "bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ── FORMATTER RÉPONSE v2 ──────────────────────────────────────\n// Robuste : gère tous les formats de retour MySQL n8n (objet, tableau, vide)\nconst action = $('Router Action TMA').first().json.action;\nconst meta   = $('Router Action TMA').first().json.meta || {};\nconst allRows = $input.all();\n\n// Normalisation : extraire tous les objets JSON des résultats\nconst rows = allRows.map(i => i.json).filter(r => r !== null && r !== undefined);\nconst first = rows[0] || {};\n\n// Lecture robuste de affectedRows : n8n peut retourner\n// { affectedRows: N } ou [{ affectedRows: N }] ou même { fieldCount:0, affectedRows:N }\nfunction getAffected() {\n  if (typeof first.affectedRows === 'number') return first.affectedRows;\n  if (typeof first.affectedRows === 'string') return parseInt(first.affectedRows) || 0;\n  // Parfois n8n wrappe dans un sous-objet\n  const nested = first[0];\n  if (nested && typeof nested.affectedRows === 'number') return nested.affectedRows;\n  // Fallback : si rows n'est pas vide et qu'il n'y a pas de colonnes de SELECT\n  // c'est probablement un résultat DML réussi\n  if (rows.length > 0 && !('nom' in first) && !('cnt' in first) && !('nom_boutique' in first)) {\n    // Considéré comme succès si on a au moins un objet retourné (même vide)\n    return rows.length;\n  }\n  return 0;\n}\n\nfunction getInsertId() {\n  if (typeof first.insertId === 'number') return first.insertId;\n  if (typeof first.insertId === 'string') return parseInt(first.insertId) || 0;\n  return 0;\n}\n\nswitch (action) {\n\n  case 'get_profile': {\n    if (!first || !first.nom_boutique) return [{ json: { error: 'profil_not_found' } }];\n    return [{ json: { ...first } }];\n  }\n\n  case 'login': {\n    const cnt = parseInt(first.cnt ?? first['COUNT(*)'] ?? 0);\n    if (cnt > 0) {\n      const chatId = $('Router Action TMA').first().json.chatId;\n      return [{ json: { success: true, _saveSession: true, chatId } }];\n    }\n    return [{ json: { error: 'password_incorrect' } }];\n  }\n\n  case 'logout':\n    return [{ json: { success: true } }];\n\n  case 'register': {\n    const aff = getAffected();\n    const iid = getInsertId();\n    // INSERT IGNORE : affectedRows=1 si inséré, 0 si déjà existant\n    if (aff > 0 || iid > 0) return [{ json: { success: true } }];\n    return [{ json: { error: 'already_registered' } }];\n  }\n\n  case 'list_categories':\n    return [{ json: rows.filter(r => r && r.nom) }];\n\n  case 'list_products':\n    return [{ json: rows.filter(r => r && r.nom) }];\n\n  case 'add_category':\n  case 'add_product':\n  case 'update_category':\n  case 'update_product':\n  case 'delete_category':\n  case 'delete_product': {\n    const aff = getAffected();\n    const iid = getInsertId();\n    // Log debug pour diagnostiquer\n    console.log(`[TMA] ${action} → affectedRows=${aff} insertId=${iid} rows=`, JSON.stringify(rows));\n    // Succès si affectedRows > 0 OU insertId > 0\n    if (aff > 0 || iid > 0) return [{ json: { success: true } }];\n    // Dernière chance : si rows contient quelque chose sans être une erreur SQL\n    // certaines configs n8n retournent {fieldCount:0,affectedRows:1,...}\n    const anyAff = rows.find(r => (r.affectedRows > 0) || (r.insertId > 0));\n    if (anyAff) return [{ json: { success: true } }];\n    return [{ json: {\n      error: 'op_failed',\n      debug: { action, aff, iid, rows: rows.slice(0,2), meta }\n    }}];\n  }\n\n  default:\n    return [{ json: { error: 'action_not_handled', action } }];\n}"
      },
      "id": "fmt-001",
      "name": "Formatter Réponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1800, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._saveSession ? `INSERT INTO vendor_sessions (chat_id, step, data, authenticated) VALUES ('${$json.chatId.replace(/'/g,\"''\")}', NULL, '{}', 1) ON DUPLICATE KEY UPDATE step=NULL, data='{}', authenticated=1` : 'SELECT 1' }}",
        "options": {}
      },
      "id": "sql-login",
      "name": "SQL Save Login Session",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [-1600, 320],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "MUkAJndyHJjTja6C",
          "name": "bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Formatter Réponse').first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "resp-001",
      "name": "Répondre HTTP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-1400, 400]
    }
  ],
  "connections": {
    "Webhook TMA":        { "main": [[{ "node": "Router Action TMA",    "type": "main", "index": 0 }]] },
    "Router Action TMA":  { "main": [[{ "node": "SQL Execute",           "type": "main", "index": 0 }]] },
    "SQL Execute":        { "main": [[{ "node": "Formatter Réponse",     "type": "main", "index": 0 }]] },
    "Formatter Réponse":  { "main": [[{ "node": "SQL Save Login Session","type": "main", "index": 0 }]] },
    "SQL Save Login Session": { "main": [[{ "node": "Répondre HTTP",     "type": "main", "index": 0 }]] }
  },
  "meta": { "templateCredsSetupCompleted": true }
}
