botwebwhatsapp.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "16688d96-d6a2-4d1b-8f97-359ec0b68aae",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1232,
        1536
      ],
      "webhookId": "71b42a57-68aa-4fcb-8359-30115b4bb1c7",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "lyrake9YtGPIxvUo",
          "name": "Mh beauty"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalise le message entrant (texte ou interaction)\nconst msg = $input.first().json;\nconst changes = msg.entry?.[0]?.changes?.[0]?.value || {};\nconst waMsg = changes.messages?.[0] || {};\nconst from = waMsg.from;\nlet text = waMsg.text?.body || '';\nconst interactiveId = waMsg.interactive?.button_reply?.id || waMsg.interactive?.list_reply?.id || '';\nconst userMessage = text || interactiveId;\nconst sessionId = 'whatsapp_' + from;\nconst orderRef = 'CMD-' + from + '-' + Date.now();\nreturn [{\n  json: {\n    chatId: from,\n    userMessage,\n    userName: 'Client',\n    sessionId,\n    orderRef,\n    isCallback: !!interactiveId\n  }\n}];"
      },
      "id": "bfd30fbd-8b53-4ae4-881b-4a51cb07bf3f",
      "name": "Normaliser message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        1536
      ]
    },
    {
      "parameters": {
        "jsCode": "// Analyse la commande utilisateur et route\nconst input = $input.first().json;\nconst msg = input.userMessage;\nlet routeTo = 'agent';\nlet vendorId = '', catId = '', prodId = '', price = '', productName = '';\nlet offset = 0;\n\nif (msg.startsWith('VENDOR|')) { vendorId = msg.split('|')[1]; routeTo = 'categories'; }\nelse if (msg.startsWith('CAT|')) { const parts = msg.split('|'); catId = parts[1]; vendorId = parts[2]; routeTo = 'products'; }\nelse if (msg.startsWith('PROD|')) { const parts = msg.split('|'); prodId = parts[1]; catId = parts[2]; vendorId = parts[3]; price = parts[4]; routeTo = 'productDetail'; }\nelse if (msg.startsWith('PAGE|')) { const parts = msg.split('|'); catId = parts[1]; offset = parseInt(parts[2]); vendorId = parts[3]; routeTo = 'products'; }\nelse if (msg.startsWith('BACK_CAT|')) { const parts = msg.split('|'); catId = parts[1]; offset = parseInt(parts[2]); vendorId = parts[3]; routeTo = 'products'; }\nelse if (msg.startsWith('ADD_CART|')) { const parts = msg.split('|'); prodId = parts[1]; price = parts[2]; catId = parts[3]; vendorId = parts[4]; productName = parts.slice(5).join('|'); routeTo = 'addToCart'; }\nelse if (msg === 'VIEW_CART') routeTo = 'viewCart';\nelse if (msg.startsWith('REMOVE_CART|')) { prodId = msg.split('|')[1]; routeTo = 'removeFromCart'; }\nelse if (msg === 'ORDER_CART') routeTo = 'orderCart';\nelse if (msg.startsWith('ORDER|')) { const parts = msg.split('|'); prodId = parts[1]; price = parts[2]; catId = parts[3]; vendorId = parts[4]; productName = parts.slice(5).join('|'); routeTo = 'agent'; }\nelse if (msg === 'HOME' || msg === '/start') routeTo = 'vendors';\n\nreturn [{ json: { ...input, routeTo, vendorId, catId, offset, prodId, price, productName } }];"
      },
      "id": "dee42988-63d1-4af8-85e8-8d475599e904",
      "name": "Router navigation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        1536
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "vendors",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "categories",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "products",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "productDetail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "addToCart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "viewCart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "removeFromCart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "orderCart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            }
          ]
        },
        "options": {}
      },
      "id": "66b5e39e-8ea8-4265-89a8-d93df30614f3",
      "name": "Switch route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -336,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nom_boutique FROM vendeurs WHERE statut IN ('approuvé','approuve') ORDER BY nom_boutique",
        "options": {}
      },
      "id": "db065faa-a196-431b-a2b6-588a5c86534f",
      "name": "SQL Vendeurs",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -32,
        1328
      ],
      "credentials": {
        "mySql": {
          "id": "MUkAJndyHJjTja6C",
          "name": "bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ 'SELECT id, nom FROM categories_vendeur WHERE vendeur_id = ' + ($json.vendorId || 0) + ' ORDER BY nom' }}",
        "options": {}
      },
      "id": "02048342-a2e0-4392-a883-58dbf7419227",
      "name": "SQL Categories",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -32,
        1488
      ],
      "credentials": {
        "mySql": {
          "id": "MUkAJndyHJjTja6C",
          "name": "bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ 'SELECT id, nom, prix, COUNT(*) OVER() AS _total FROM produits_vendeur WHERE categorie_id = ' + ($json.catId || 0) + ' ORDER BY id LIMIT 5 OFFSET ' + ($json.offset || 0) }}",
        "options": {}
      },
      "id": "b6f74c50-ad43-48af-a807-03507538222c",
      "name": "SQL Produits",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -32,
        1632
      ],
      "credentials": {
        "mySql": {
          "id": "MUkAJndyHJjTja6C",
          "name": "bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ 'SELECT p.id, p.nom, p.description, p.prix, p.taille, pi.url_image AS photo_url FROM produits_vendeur p LEFT JOIN produit_image pi ON pi.produit_id = p.id WHERE p.id = ' + ($json.prodId || 0) + ' LIMIT 1' }}",
        "options": {}
      },
      "id": "ba330fb9-a490-464f-8795-9de82a7e6b34",
      "name": "SQL Detail produit",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -32,
        1792
      ],
      "credentials": {
        "mySql": {
          "id": "MUkAJndyHJjTja6C",
          "name": "bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construit la réponse pour les vendeurs (liste interactive)\nconst rows = $input.all().map(i => i.json).filter(v => v.id);\nconst nav = $('Router navigation').first().json;\nif (!rows.length) {\n  return [{ json: { chatId: nav.chatId, type: 'text', text: 'Aucune boutique disponible.', buttons: [{ text: '🏠 Accueil', id: 'HOME' }] } }];\n}\nconst sections = [{\n  title: 'Boutiques',\n  rows: rows.slice(0,10).map(v => ({ id: 'VENDOR|' + v.id, title: v.nom_boutique.substring(0,20), description: '' }))\n}];\nreturn [{ json: { chatId: nav.chatId, type: 'list', text: 'Choisissez une boutique :', sections, buttonText: 'Voir les boutiques' } }];"
      },
      "id": "d5d1efb4-f3ba-428f-a397-ae1defd24f19",
      "name": "Handle vendeurs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        1344
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construit la réponse pour les catégories\nconst rows = $input.all().map(i => i.json).filter(c => c.id);\nconst nav = $('Router navigation').first().json;\nif (!rows.length) {\n  return [{ json: { chatId: nav.chatId, type: 'text', text: 'Aucune catégorie.', buttons: [{ text: '🏠 Accueil', id: 'HOME' }] } }];\n}\nconst sections = [{\n  title: 'Catégories',\n  rows: rows.slice(0,10).map(c => ({ id: 'CAT|' + c.id + '|' + nav.vendorId, title: c.nom.substring(0,20), description: '' }))\n}];\nreturn [{ json: { chatId: nav.chatId, type: 'list', text: 'Choisissez une catégorie :', sections, buttonText: 'Voir catégories' } }];"
      },
      "id": "ca28eae2-e347-4584-ab66-dcfe15da4a17",
      "name": "Handle categories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        1504
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construit la réponse pour les produits\nconst rows = $input.all().map(i => i.json).filter(p => p.id);\nconst nav = $('Router navigation').first().json;\nif (!rows.length) {\n  return [{ json: { chatId: nav.chatId, type: 'text', text: 'Aucun produit.', buttons: [{ text: '🏠 Accueil', id: 'HOME' }] } }];\n}\nconst productRows = rows.slice(0,10).map(p => ({ id: 'PROD|' + p.id + '|' + nav.catId + '|' + nav.vendorId + '|' + p.prix, title: p.nom.substring(0,20) + ' — ' + p.prix + '$', description: '' }));\nconst sections = [{ title: 'Produits', rows: productRows }];\nreturn [{ json: { chatId: nav.chatId, type: 'list', text: 'Produits :', sections, buttonText: 'Voir produits' } }];"
      },
      "id": "0cbe29a2-7804-4fd7-9194-15a91ff39367",
      "name": "Handle produits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        1648
      ]
    },
    {
      "parameters": {
        "jsCode": "// Détail produit : image + boutons (ou simple texte si pas d'image)\nconst BASE_URL = 'https://mhbeauty.shop/storage/';\nconst nav = $('Router navigation').first().json;\nconst p = $input.first().json;\nif (!p || !p.id) {\n  return [{ json: { chatId: nav.chatId, type: 'text', text: 'Produit introuvable.', buttons: [{ text: '🏠 Accueil', id: 'HOME' }] } }];\n}\nconst rawUrl = (p.photo_url || '').trim();\nconst photoUrl = rawUrl ? (rawUrl.startsWith('http') ? rawUrl : BASE_URL + rawUrl.replace(/^\\//, '')) : '';\nconst caption = `📦 *${p.nom}*\\n\\n${p.description || ''}\\n\\n💰 Prix : ${p.prix}$\\n📏 Taille : ${p.taille || 'N/A'}`;\nconst addCart = `ADD_CART|${p.id}|${p.prix}|${nav.catId}|${nav.vendorId}|${p.nom}`;\nconst backCat = `BACK_CAT|${p.categorie_id}|0|${nav.vendorId}`;\nconst order = `ORDER|${p.id}|${p.prix}|${nav.catId}|${nav.vendorId}|${p.nom}`;\nconst buttons = [\n  { id: addCart, title: '🛒 Ajouter au panier' },\n  { id: backCat, title: '🔙 Continuer' },\n  { id: order, title: '✅ Commander' }\n];\nif (photoUrl) {\n  // Envoyer d'abord l'image, puis un message interactif (on renvoie deux objets ? Non, le nœud WhatsApp n'envoie qu'un seul message.\n  // On va envoyer l'image seule avec légende, et les boutons dans un second message séparé ?\n  // Pour simplifier, on préfère envoyer un message textuel avec boutons (pas d'image) pour que l'expérience soit fluide.\n  // Vous pouvez améliorer en ajoutant un second nœud plus tard.\n  return [{ json: { chatId: nav.chatId, type: 'image', image: { link: photoUrl, caption: caption } } }];\n} else {\n  return [{ json: { chatId: nav.chatId, type: 'buttons', text: caption, buttons: buttons } }];\n}"
      },
      "id": "d131b468-9b28-4afd-a1d4-a35c9d317d1a",
      "name": "Handle detail produit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        1808
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gestion du panier (static data)\nconst input = $input.first().json;\nconst chatId = input.chatId;\nconst action = input.routeTo;\nconst sd = $getWorkflowStaticData('node');\nif (!sd.paniers) sd.paniers = {};\nif (!sd.paniers[chatId]) sd.paniers[chatId] = [];\nlet panier = sd.paniers[chatId];\n\nif (action === 'addToCart') {\n  const idx = panier.findIndex(i => i.prodId == input.prodId);\n  if (idx >= 0) panier[idx].qty++;\n  else panier.push({ prodId: input.prodId, nom: input.productName, prix: Number(input.price), vendorId: input.vendorId, catId: input.catId, qty: 1 });\n  sd.paniers[chatId] = panier;\n  return [{ json: { chatId, type: 'text', text: `✅ *${input.productName}* ajouté au panier !`, buttons: [\n    { text: `🛍️ Voir panier (${panier.length})`, id: 'VIEW_CART' },\n    { text: '🔙 Continuer', id: `BACK_CAT|${input.catId}|0|${input.vendorId}` },\n    { text: '🏠 Accueil', id: 'HOME' }\n  ] } }];\n}\nif (action === 'removeFromCart') {\n  panier = panier.filter(i => i.prodId != input.prodId);\n  sd.paniers[chatId] = panier;\n  return [{ json: { chatId, type: 'text', text: '🗑️ Article retiré.', buttons: [\n    { text: `🛍️ Voir panier (${panier.length})`, id: 'VIEW_CART' },\n    { text: '🏠 Accueil', id: 'HOME' }\n  ] } }];\n}\nif (action === 'orderCart') {\n  if (!panier.length) return [{ json: { chatId, type: 'text', text: '🛒 Panier vide.', buttons: [{ text: '🏠 Accueil', id: 'HOME' }] } }];\n  let total = 0, desc = '';\n  const vendorId = panier[0].vendorId;\n  panier.forEach(item => { const sous = item.prix * item.qty; total += sous; desc += `• ${item.nom} x${item.qty} = ${sous.toFixed(2)}$ `; });\n  const safeProductName = `COMMANDE PANIER: ${desc.trim()} Total : ${total.toFixed(2)}$`;\n  sd.paniers[chatId] = [];\n  return [{ json: { ...input, routeTo: 'agent', vendorId, prodId: '', price: total.toFixed(2), productName: safeProductName } }];\n}\n// viewCart\nif (!panier.length) return [{ json: { chatId, type: 'text', text: '🛒 Panier vide.', buttons: [{ text: '🏠 Accueil', id: 'HOME' }] } }];\nlet total = 0, textMsg = '🛒 *Votre panier :*\\n\\n';\nconst btns = [];\npanier.forEach((item, idx) => {\n  const sous = item.prix * item.qty;\n  total += sous;\n  textMsg += `${idx+1}. ${item.nom}\\n   ${item.qty} × ${item.prix}$ = ${sous.toFixed(2)}$\\n\\n`;\n  btns.push({ text: `🗑️ ${item.nom.substring(0,15)}`, id: `REMOVE_CART|${item.prodId}` });\n});\ntextMsg += `──────────────\\n💰 *Total : ${total.toFixed(2)}$*`;\nbtns.push({ text: '✅ Commander', id: 'ORDER_CART' }, { text: '🏠 Accueil', id: 'HOME' });\nreturn [{ json: { chatId, type: 'text', text: textMsg, buttons: btns } }];"
      },
      "id": "54cbbe8e-7ecc-4436-ae13-4f92aa0fcdbb",
      "name": "Gestion panier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        1936
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "orderCart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.routeTo }}",
                    "rightValue": "orderCart",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              }
            }
          ]
        },
        "options": {}
      },
      "id": "2bfa74f6-836c-45a2-bc94-ac392312740f",
      "name": "Switch panier",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        272,
        2032
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Client: {{ $json.userName }}\\nMessage: {{ $json.userMessage }}\\nchatId: {{ $json.chatId }}\\norderRef: {{ $json.orderRef }}\\nvendorId: {{ $json.vendorId }}\\nprodId: {{ $json.prodId }}\\nprice: {{ $json.price }}\\nproductName: {{ $json.productName }}\\nrouteTo: {{ $json.routeTo }}",
        "options": {
          "systemMessage": "Tu es l'assistant de la marketplace MH Beauty. Réponds en français, ≤80 mots, émojis. Prix en dollars ($).\\n\\nSCHÉMA DB:\\n- vendeurs(id, nom_boutique, cideasypay, tokeneasypay, statut)\\n- categories_vendeur(id, nom, vendeur_id)\\n- produits_vendeur(id, nom, description, prix, taille, categorie_id)\\n- produit_image(id, url_image, produit_id)\\n- commandes(id, chat_id, nom, prenom, telephone, adresse, total, produits, statut, numero_commande, produit_id, vendeur_id)\\n\\nRÈGLES :\\n- Si productName présent → mode commande. Ne cherche pas de produit.\\n- Échappe les guillemets simples ('').\\n- Processus commande : récap, demande nom, prénom, téléphone (10 chiffres), adresse, confirmation OUI, puis appel SQL SELECT cideasypay/tokeneasypay, puis initier_paiement_easypay, puis INSERT INTO commandes, puis réponds avec numéro de commande.\\n\\nOUTILS : execute_sql, initier_paiement_easypay"
        }
      },
      "id": "a1e3f89c-0d51-4599-94c4-2b74b3f6ad51",
      "name": "Agent IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        256,
        2432
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "id": "fecaa576-7966-4a87-afdb-ac8eff81f428",
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        16,
        2768
      ],
      "credentials": {
        "openAiApi": {
          "id": "wurRBEXXPomIM2MD",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normaliser message').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "73796db0-a494-43bb-a4b1-1ea5fffd9960",
      "name": "Memoire session",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        2768
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('query') }}",
        "options": {}
      },
      "id": "d7c1b81e-1fa0-4a71-9beb-60c530a6d95f",
      "name": "SQL Tool",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        448,
        2752
      ],
      "credentials": {
        "mySql": {
          "id": "MUkAJndyHJjTja6C",
          "name": "bot"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Initie un paiement Easypay. Arguments : cideasypay, tokeneasypay, montant, client_nom, client_phone, produit_nom, order_ref.",
        "method": "POST",
        "url": "=https://mhbeauty.online/api/v1/paiement/initier",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cideasypay",
              "value": "={{ $fromAI('cideasypay') }}"
            },
            {
              "name": "tokeneasypay",
              "value": "={{ $fromAI('tokeneasypay') }}"
            },
            {
              "name": "montant",
              "value": "={{ $fromAI('montant') }}"
            },
            {
              "name": "client_nom",
              "value": "={{ $fromAI('client_nom') }}"
            },
            {
              "name": "client_phone",
              "value": "={{ $fromAI('client_phone') }}"
            },
            {
              "name": "produit_nom",
              "value": "={{ $fromAI('produit_nom') }}"
            },
            {
              "name": "order_ref",
              "value": "={{ $fromAI('order_ref') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a24ba279-3494-41ff-a9bf-b44b0445285a",
      "name": "Paiement Easypay",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        672,
        2736
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.output || '';\nconst chatId = $('Router navigation').first().json.chatId;\nconst clean = response.replace(/\\{[\\s\\S]*?\\}/g, '').trim();\nreturn [{ json: { chatId, type: 'text', text: clean || 'Je n\\'ai pas compris.', buttons: [{ text: '🏠 Accueil', id: 'HOME' }] } }];"
      },
      "id": "4738830e-b00d-4fe5-b01c-a793365710e3",
      "name": "Parse agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        2000
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "975966998935081",
        "recipientPhoneNumber": "243977196639",
        "textBody": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "f0c6370e-612c-4c70-974f-57cbb59818cb",
      "name": "Envoyer WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        928,
        1552
      ],
      "webhookId": "9696f5b1-c7a4-49bb-8b32-eb15ed974cdb",
      "credentials": {
        "whatsAppApi": {
          "id": "POWbmsUyT6sqXiIM",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Normaliser message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliser message": {
      "main": [
        [
          {
            "node": "Router navigation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router navigation": {
      "main": [
        [
          {
            "node": "Switch route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch route": {
      "main": [
        [
          {
            "node": "SQL Vendeurs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL Categories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL Produits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL Detail produit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gestion panier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gestion panier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gestion panier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gestion panier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Vendeurs": {
      "main": [
        [
          {
            "node": "Handle vendeurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Categories": {
      "main": [
        [
          {
            "node": "Handle categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Produits": {
      "main": [
        [
          {
            "node": "Handle produits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Detail produit": {
      "main": [
        [
          {
            "node": "Handle detail produit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle vendeurs": {
      "main": [
        [
          {
            "node": "Envoyer WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle categories": {
      "main": [
        [
          {
            "node": "Envoyer WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle produits": {
      "main": [
        [
          {
            "node": "Envoyer WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle detail produit": {
      "main": [
        [
          {
            "node": "Envoyer WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestion panier": {
      "main": [
        [
          {
            "node": "Switch panier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch panier": {
      "main": [
        [
          {
            "node": "Agent IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envoyer WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent IA": {
      "main": [
        [
          {
            "node": "Parse agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agent IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoire session": {
      "ai_memory": [
        [
          {
            "node": "Agent IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SQL Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Paiement Easypay": {
      "ai_tool": [
        [
          {
            "node": "Agent IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse agent": {
      "main": [
        [
          {
            "node": "Envoyer WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28ba8da7efe41ef60114b1f60ca46803f555a43a3988061843f330213252ba86"
  }
}