Gemini - MySQL.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7cade7b6-2406-4bf7-88d7-d2e55709f740",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        1712,
        304
      ],
      "webhookId": "03a3f63c-f604-4b8a-9b66-fca037f215e1",
      "credentials": {
        "telegramApi": {
          "id": "8z9m7oySTithfm7m",
          "name": "Mh beauty"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tg1",
              "name": "channel",
              "value": "telegram",
              "type": "string"
            },
            {
              "id": "tg2",
              "name": "chatId",
              "value": "={{ $json.message.chat.id.toString() }}",
              "type": "string"
            },
            {
              "id": "tg3",
              "name": "userMessage",
              "value": "={{ $json.message.text ?? '' }}",
              "type": "string"
            },
            {
              "id": "tg4",
              "name": "userName",
              "value": "={{ ($json.message.from.first_name ?? '') + ' ' + ($json.message.from.last_name ?? '') }}",
              "type": "string"
            },
            {
              "id": "tg5",
              "name": "sessionId",
              "value": "=tg_{{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "tg6",
              "name": "orderRef",
              "value": "=CMD-{{ $json.message.chat.id }}-{{ Date.now() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfb99ed9-b97a-48fa-8de1-afdb28cb9db1",
      "name": "Normaliser Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        304
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "id": "c91936eb-e78c-4a7f-8fcf-bdef3fe8c12f",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1968,
        640
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "3DJGwxh9rxeLjCcZ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 15
      },
      "id": "ea62a53e-1bc1-47a7-b830-87a20dc69ff7",
      "name": "Mémoire Session",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2224,
        640
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Exécute TOUTE requête SQL (SELECT, INSERT IGNORE) sur la base de données MySQL de MH Beauty. Tu DOIS utiliser cet outil pour lister les catégories, chercher des produits et enregistrer les commandes. Fournir la requête SQL complète dans l'argument 'query'.",
        "operation": "executeQuery",
        "query": "{{ $fromAI('query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        2640,
        640
      ],
      "id": "a3d09a66-b9c2-4c5e-ba03-9a569240f559",
      "name": "Execute a SQL query in MySQL",
      "credentials": {
        "mySql": {
          "id": "iz6mtd3PHoQvRDqH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Initie un paiement pour une commande MH Beauty. Arguments requis : client_phone, client_nom, produit_nom, montant, orderRef. Elle va renvoyer la confirmation du paiement lié à cette référence.",
        "method": "POST",
        "url": "https://mhbeauty.online/api/v1/paiement/initier",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_phone",
              "value": "={{ $fromAI('client_phone') }}"
            },
            {
              "name": "client_nom",
              "value": "={{ $fromAI('client_nom') }}"
            },
            {
              "name": "produit_nom",
              "value": "={{ $fromAI('produit_nom') }}"
            },
            {
              "name": "montant",
              "value": "={{ $fromAI('montant') }}"
            },
            {
              "name": "order_ref",
              "value": "={{ $fromAI('orderRef') }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7f0bdf7f-da9b-4987-865f-efd474752e19",
      "name": "Initier Paiement MH Beauty",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2432,
        640
      ]
    },
    {
      "parameters": {
        "toolDescription": "Envoie obligatoirement l'image d'un produit dans le chat Telegram du client. Arguments obligatoires : chatId (identifiant du chat reçu) et photo_url (l'URL exacte récupérée de la colonne image en base de données).",
        "method": "POST",
        "url": "https://api.telegram.org/bot8700877567:AAEhsYtGO3s5UShEl9gV7nHiiYiTMXStDtI/sendPhoto",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $fromAI('chatId') }}"
            },
            {
              "name": "photo",
              "value": "={{ $fromAI('photo_url') }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "50e269d6-8f4c-411f-9133-1c9969f44d69",
      "name": "Envoyer Photo Telegram",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2832,
        640
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "4dcb91f3-a4bf-4bc5-843f-1693fa55e1dc",
      "name": "Réponse Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2560,
        304
      ],
      "webhookId": "a68bfb12-0c18-4235-88fc-bcb956e1e8b7",
      "credentials": {
        "telegramApi": {
          "id": "8z9m7oySTithfm7m",
          "name": "Mh beauty"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Client: {{ $json.userName }}\nCanal: {{ $json.channel }}\nMessage: {{ $json.userMessage }}\nchatId: {{ $json.chatId }}\norderRef: {{ $json.orderRef }}",
        "options": {}
      },
      "id": "3582b56f-29ae-499e-8f99-d2c0823873b5",
      "name": "Agent MH Beauty IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2208,
        304
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normaliser Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliser Telegram": {
      "main": [
        [
          {
            "node": "Agent MH Beauty IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Agent MH Beauty IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mémoire Session": {
      "ai_memory": [
        [
          {
            "node": "Agent MH Beauty IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in MySQL": {
      "ai_tool": [
        [
          {
            "node": "Agent MH Beauty IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Initier Paiement MH Beauty": {
      "ai_tool": [
        [
          {
            "node": "Agent MH Beauty IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Photo Telegram": {
      "ai_tool": [
        [
          {
            "node": "Agent MH Beauty IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent MH Beauty IA": {
      "main": [
        [
          {
            "node": "Réponse Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28ba8da7efe41ef60114b1f60ca46803f555a43a3988061843f330213252ba86"
  }
}